.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-link {
  color: white;
}

.nav-link.active {
  background: linear-gradient(to right, #03afff, #0514e6, #03afff);
  background-size: 200% 100%;
  background-position: left;
  color: white !important;
  border-radius: 6px;
  transition: background-position 0.5s ease;
}

.nav-link.active:hover {
  background-position: right;
  color: white;
}

.gradient-text {
  background: linear-gradient(to right, #03afff, #0514e6, #03afff);
  background-size: 200% 100%;
  background-position: left;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem; /* نفس text-2xl */
}

.gradient-text:hover {
  -webkit-background-clip: text;
  background-position: right;
}

.languages-icon {
  margin-top: 10px;
}

